h1.zdj {
    text-align: center;
    margin-bottom: 1cm;
}

img {
    height: 350px;
    width: 600px;
    border: 3px solid black;
    margin: 1cm;
}

h1.autorzy {
    text-align: center;
    margin-bottom: 1cm;
}

ol.listaA {
    list-style-type: upper-alpha;
    font-weight: bold;
    border: 2px solid black;
}